@import "tailwindcss";

/* Definicja zmiennych CSS */
:root {
  /* Kolory ARS */
  --ars-deepblue: #003264;
  --ars-lightblue: #0057AD;
  --ars-green: #4EB039;
  --ars-lightgreen: #59B446;
  --ars-lightgrey: #8F8F8F;
  --ars-lightlightgrey: #c4c4c4;
  --ars-whitegrey: #e3e3e3;
  --ars-darkgrey: #444444;
}

/* Klasy użytkowe dla kolorów */
.bg-ars-deepblue {
  background-color: var(--ars-deepblue);
}

.bg-ars-lightblue {
  background-color: var(--ars-lightblue);
}

.bg-ars-green {
  background-color: var(--ars-green);
}

.bg-ars-lightgreen {
  background-color: var(--ars-lightgreen);
}

.bg-ars-lightgrey {
  background-color: var(--ars-lightgrey);
}

.bg-ars-lightlightgrey {
  background-color: var(--ars-lightlightgrey);
}

.bg-ars-whitegrey {
  background-color: var(--ars-whitegrey);
}

.bg-ars-darkgrey {
  background-color: var(--ars-darkgrey);
}

.text-ars-deepblue {
  color: var(--ars-deepblue);
}

.text-ars-lightblue {
  color: var(--ars-lightblue);
}

.text-ars-green {
  color: var(--ars-green);
}

.text-ars-lightgreen {
  color: var(--ars-lightgreen);
}

.text-ars-lightgrey {
  color: var(--ars-lightgrey);
}

.text-ars-lightlightgrey {
  color: var(--ars-lightlightgrey);
}

.text-ars-whitegrey {
  color: var(--ars-whitegrey);
}

.text-ars-darkgrey {
  color: var(--ars-darkgrey);
}

.border-ars-deepblue {
  border-color: var(--ars-deepblue);
}

.border-ars-lightblue {
  border-color: var(--ars-lightblue);
}

.border-ars-green {
  border-color: var(--ars-green);
}

.border-ars-lightgreen {
  border-color: var(--ars-lightgreen);
}

.border-ars-lightgrey {
  border-color: var(--ars-lightgrey);
}

.border-ars-lightlightgrey {
  border-color: var(--ars-lightlightgrey);
}

.border-ars-whitegrey {
  border-color: var(--ars-whitegrey);
}

.border-ars-darkgrey {
  border-color: var(--ars-darkgrey);
}